.container {
  display: grid;
  background-color: #EAF6FF;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  gap: 20px;
}

.column-filler {
  background-color: #8B4513;
  grid-column: span 1 / auto;
}

.profile-pic-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 2 / span 1;
}

.profile-pic {
  width: 350px;
  height: 350px;
  margin-right: 2rem;
  border: solid thick black;
  display: inline-block;
  vertical-align: middle;
}

.text-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  grid-column: 3 / span 1;
}

.container h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  color: #333;
  margin: 0;
}

.container p {
  font-size: 1.4rem;
  color: #333;
}
