.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  background-color: #EAF6FF;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin: 1rem 0;
}

h2 {
  font-size: 2rem;
  color: #333;
  margin: 1rem 0;
}

.project {
  margin-bottom: 2rem;
  width: 75%;
}

.project h2 a {
  color: #8B4513;
  text-decoration: underline;
}

.project a:hover {
  color: darkblue;
}

.project ul {
  list-style-position: outside;
  list-style-type: square;
  padding-left: 0;
  font-size: 1.5rem;
  color: #333;
  text-align: left;
  max-width: 80%;
  margin: auto;
}

.project li {
  margin-left: 20px;
  text-align: left;
  max-width: none;
}

.divider {
  border-bottom: 3px solid #8B4513;
  width: 95%;
  margin: 1.5rem auto;
  box-shadow: 0 0 8px #FFD700;
}

@media (max-width: 601px) {
  body {
    font-size: 16px;
  }

  .container h1,
  .container p,
  .project ul {
    padding: 0 10px;
  }
}
